* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-size: 30px;
  background-color: #4eaddb;
  text-align: center;
}

.my_home {
  text-align: center;
  padding: 20px;
}

.my_footer {
  text-align: center;
  color: purple;
  background: white;
}

.my_header {
  text-align: center;
  background-color: black;
  color: #33eff5;
  padding: 10px;
}

.li_border {
  background-color: #1f65cd;
  border: 1px solid black;
}

